{% extends "@Contao/content_element/_base.html.twig" %}

{% do csp_source('connect-src', 'https://*.google.com') %}
{% do csp_source('connect-src', 'https://*.googleapis.com') %}
{% do csp_source('connect-src', 'https://*.gstatic.com') %}
{% do csp_source('font-src', 'https://fonts.gstatic.com') %}
{% do csp_source('img-src', 'https://*.google.com') %}
{% do csp_source('img-src', 'https://*.googleapis.com') %}
{% do csp_source('img-src', 'https://*.googleusercontent.com') %}
{% do csp_source('img-src', 'https://*.gstatic.com') %}
{% do csp_source('style-src', 'https://fonts.googleapis.com') %}

{% block content %}
  <div class="content-googlemaps-html__container">
    <div class="content-googlemaps-html__responsive">
      {% block html %}
        {{ html|default|insert_tag|raw }}
      {% endblock %}
    </div>
  </div>
  <style{{ attrs().setIfExists('nonce', csp_nonce('style-src')) }}>
    /* Set a nonce for Google Maps API */
  </style>
{% endblock %}
